@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:100, 300, 400, 500, 600, 700, 800, 900&display=swap');

/* font-family: 'Big Shoulders Text', cursive; */

.nav-flex-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: absolute;
	z-index: 100;
	left: 0;
	width: 100%;
	padding: 0;
}

.nav-flex-row li {
	text-decoration: None;
	list-style-type: None;
	padding: 20px 15px;
}

.nav-flex-row li a {
	font-family: 'Big Shoulders Text', cursive;
	color: Black;
	font-size: 2.0em;
	text-transform: uppercase;
	font-weight: 500;
}
.nav-flex-row li a:hover{
	background: Dark grren;
}

.section-intro {
	height: 630px;
	background-image: url(image/foodiee.jpg);
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-intro h1 {
	text-align: center;
	color: Dark green;
	font-size: 4.5em;
	font-weight: 800;
}

.section-intro header {
	display: flex;
	flex: 4;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.link-to-book-wrapper {
	flex: 1;
}

.about-section {
	display: flex;
	align-items: center;
	background-color:Light Blue;
	padding: 50px 30px;
}

.link-to-book {
	color: Black;
	display: block;
	border: 2px solid Black;
	padding: 5px10px;
}

a.link-to-book:hover {
	background-color: Red;
	color: Black;
	text-decoration: none;
}

.about-section p,
.about-section h3 {
	text-align: center;
	width: 60%;
	margin: auto;
	font-family: 'Big Shoulders Text', cursive;
	font-size: 1.8em;
	text-transform: Italic;
}

.carousel-inner {
	height: 570px;
}

.row-flex {
	display: flex;
	flex-direction:Row;
}

.flex-column-form {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin: 30px 20px;
}

.btn.btn-primary {
	font-family: 'Big Shoulders Text', cursive;
	color: Red;
	background-color: Black;
	text-transform: uppercase;
	font-size: 20px;
	padding: 5px 10px;
	letter-spacing: 2px;
	border: 0;
}

.btn.btn-primary:hover {
	background-color:Blue;
}
.opening-time,
.contact-adress {
	flex: 1;
	margin: 30px 20px;
	font-size: 1.2em;
}

.form-group p {
	font-size: 1.2em;
}

.opening-time p span,
.contact-adress p span {
	display: block;
}

@media (min-width:577px) and (max-width: 800px) {

	.section-intro {
		height: 400px;
	}

	.about-section p,
	.about-section h3 {
		font-size: 20px;
	}

	.carousel-inner {
		height: auto;
	}

	.row-flex {
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 576px) {
	.section-intro {
		height: 300px;
	}

	.about-section {
		padding: 30px;
	}

	.section-intro h1 {
		font-size: 2em;
	}

	.about-section p,
	.about-section h3 {
		font-size: 15px;
	}

	.carousel-inner {
		height: auto;
	}

	.row-flex {
		display: flex;
		flex-direction: column;
	}

	.row-flex h3 {
		font-size: 25px;
		text-align: center;
	}

	.form-group p {
		font-size: 15px;
	}

	.opening-time p span,
	.contact-adress p span {
		font-size: 15px;
		text-align: center;
	}

}
